[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
python-libnessus = "*"
ipython = "*"
netifaces = "*"
netaddr = "*"
msgpack = "*"
requests = "*"

[requires]
python_version = "3.6"
